<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pm.mapper.AgreementsMapper">
	<select id="getAgreement" parameterType="java.lang.String" resultType="agreements" >
		select * from agreements where agreementno=#{agreementno}
	</select>
	
	<select id="getAgreements" parameterType="agreementsSelectRequirement" resultType="agreements" >
		select * from agreements 
		<where>
			<if test='emp_name != "null"'>
				<choose>
					<when test="semp_name == '='.toString()">
						emp_name = #{emp_name}
					</when>
					<when test="semp_name == '!='.toString()">
						emp_name != #{emp_name}
					</when>
					<when test="semp_name == '>'.toString()">
						emp_name &gt; #{emp_name}
					</when>
					<when test="semp_name == '>='.toString()">
						emp_name &gt;= #{emp_name}
					</when>
					<when test="semp_name == '&lt;'.toString()">
						emp_name &lt; #{emp_name}
					</when>
					<when test="semp_name == '&lt;='.toString()">
						emp_name &lt;= #{emp_name}
					</when>
					<when test="semp_name == '介于'.toString()">
						emp_name between #{emp_name} and #{emp_name1}
					</when>
					<when test="semp_name == '形如'.toString()">
						emp_name like ${%emp_name%}
					</when>
					<when test="semp_name == '有值'.toString()">
					 	emp_name is not null
					</when>
					<when test="semp_name == '无值'.toString()">
						emp_name is null
					</when>
					<!-- <otherwise>
						emp_name is null
					</otherwise> -->
				</choose>
			</if>
			<if test='emp_id != "null"'>
				<choose>
					<when test="semp_id == '='.toString()">
						and emp_id = #{emp_id}
					</when>
					<when test="semp_id == '!='.toString()">
						and emp_id != #{emp_id}
					</when>
					<when test="semp_id == '>'.toString()">
						and emp_id &gt; #{emp_id}
					</when>
					<when test="semp_id == '>='.toString()">
						and emp_id &gt;= #{emp_id}
					</when>
					<when test="semp_id == '&lt;'.toString()">
						and emp_id &lt; #{emp_id}
					</when>
					<when test="semp_id == '&lt;='.toString()">
						and emp_id &lt;= #{emp_id}
					</when>
					<when test="semp_id == '介于'.toString()">
						and emp_id between #{emp_id} and #{emp_id1}
					</when>
					<when test="semp_id == '形如'.toString()">
						and emp_id like ${%emp_id%}
					</when>
					<when test="semp_id == '有值'.toString()">
					 	and emp_id is not null
					</when>
					<when test="semp_id == '无值'.toString()">
						and emp_id is null
					</when>
					<!-- <otherwise>
						emp_id is null
					</otherwise> -->
				</choose>
			</if>
			<if test='emp_department != "null"'>
				<choose>
					<when test="semp_department == '='.toString()">
						and emp_department = #{emp_department}
					</when>
					<when test="semp_department == '!='.toString()">
						and emp_department != #{emp_department}
					</when>
					<when test="semp_department == '>'.toString()">
						and emp_department &gt; #{emp_department}
					</when>
					<when test="semp_department == '>='.toString()">
						and emp_department &gt;= #{emp_department}
					</when>
					<when test="semp_department == '&lt;'.toString()">
						and emp_department &lt; #{emp_department}
					</when>
					<when test="semp_department == '&lt;='.toString()">
						and emp_department &lt;= #{emp_department}
					</when>
					<when test="semp_department == '介于'.toString()">
						and emp_department between #{emp_department} and #{emp_department1}
					</when>
					<when test="semp_department == '形如'.toString()">
						and emp_department like ${%emp_department%}
					</when>
					<when test="semp_department == '有值'.toString()">
					 	and emp_department is not null
					</when>
					<when test="semp_department == '无值'.toString()">
						and emp_department is null
					</when>
					<!-- <otherwise>
						emp_department is null
					</otherwise> -->
				</choose>
			</if>
			<if test='emp_job != "null"'>
				<choose>
					<when test="semp_job == '='.toString()">
						and emp_job = #{emp_job}
					</when>
					<when test="semp_job == '!='.toString()">
						and emp_job != #{emp_job}
					</when>
					<when test="semp_job == '>'.toString()">
						and emp_job &gt; #{emp_job}
					</when>
					<when test="semp_job == '>='.toString()">
						and emp_job &gt;= #{emp_job}
					</when>
					<when test="semp_job == '&lt;'.toString()">
						and emp_job &lt; #{emp_job}
					</when>
					<when test="semp_job == '&lt;='.toString()">
						and emp_job &lt;= #{emp_job}
					</when>
					<when test="semp_job == '介于'.toString()">
						and emp_job between #{emp_job} and #{emp_job1}
					</when>
					<when test="semp_job == '形如'.toString()">
						and emp_job like ${%emp_job%}
					</when>
					<when test="semp_job == '有值'.toString()">
					 	and emp_job is not null
					</when>
					<when test="semp_job == '无值'.toString()">
						and emp_job is null
					</when>
					<!-- <otherwise>
						emp_job is null
					</otherwise> -->
				</choose>
			</if>
			<if test='emp_academic_title != "null"'>
				<choose>
					<when test="semp_academic_title == '='.toString()">
						and emp_academic_title = #{emp_academic_title}
					</when>
					<when test="semp_academic_title == '!='.toString()">
						and emp_academic_title != #{emp_academic_title}
					</when>
					<when test="semp_academic_title == '>'.toString()">
						and emp_academic_title &gt; #{emp_academic_title}
					</when>
					<when test="semp_academic_title == '>='.toString()">
						and emp_academic_title &gt;= #{emp_academic_title}
					</when>
					<when test="semp_academic_title == '&lt;'.toString()">
						and emp_academic_title &lt; #{emp_academic_title}
					</when>
					<when test="semp_academic_title == '&lt;='.toString()">
						and emp_academic_title &lt;= #{emp_academic_title}
					</when>
					<when test="semp_academic_title == '介于'.toString()">
						and emp_academic_title between #{emp_academic_title} and #{emp_academic_title1}
					</when>
					<when test="semp_academic_title == '形如'.toString()">
						and emp_academic_title like ${%emp_academic_title%}
					</when>
					<when test="semp_academic_title == '有值'.toString()">
					 	and emp_academic_title is not null
					</when>
					<when test="semp_academic_title == '无值'.toString()">
						and emp_academic_title is null
					</when>
					<!-- <otherwise>
						emp_academic_title is null
					</otherwise> -->
				</choose>
			</if>
			<if test='emp_work_category != "null"'>
				<choose>
					<when test="semp_work_category == '='.toString()">
						and emp_work_category = #{emp_work_category}
					</when>
					<when test="semp_work_category == '!='.toString()">
						and emp_work_category != #{emp_work_category}
					</when>
					<when test="semp_work_category == '>'.toString()">
						and emp_work_category &gt; #{emp_work_category}
					</when>
					<when test="semp_work_category == '>='.toString()">
						and emp_work_category &gt;= #{emp_work_category}
					</when>
					<when test="semp_work_category == '&lt;'.toString()">
						and emp_work_category &lt; #{emp_work_category}
					</when>
					<when test="semp_work_category == '&lt;='.toString()">
						and emp_work_category &lt;= #{emp_work_category}
					</when>
					<when test="semp_work_category == '介于'.toString()">
						and emp_work_category between #{emp_work_category} and #{emp_work_category1}
					</when>
					<when test="semp_work_category == '形如'.toString()">
						and emp_work_category like ${%emp_work_category%}
					</when>
					<when test="semp_work_category == '有值'.toString()">
					 	and emp_work_category is not null
					</when>
					<when test="semp_work_category == '无值'.toString()">
						and emp_work_category is null
					</when>
					<!-- <otherwise>
						emp_work_category is null
					</otherwise> -->
				</choose>
			</if>
			<if test='emp_grade != "null"'>
				<choose>
					<when test="semp_grade == '='.toString()">
						and emp_grade = #{emp_grade}
					</when>
					<when test="semp_grade == '!='.toString()">
						and emp_grade != #{emp_grade}
					</when>
					<when test="semp_grade == '>'.toString()">
						and emp_grade &gt; #{emp_grade}
					</when>
					<when test="semp_grade == '>='.toString()">
						and emp_grade &gt;= #{emp_grade}
					</when>
					<when test="semp_grade == '&lt;'.toString()">
						and emp_grade &lt; #{emp_grade}
					</when>
					<when test="semp_grade == '&lt;='.toString()">
						and emp_grade &lt;= #{emp_grade}
					</when>
					<when test="semp_grade == '介于'.toString()">
						and emp_grade between #{emp_grade} and #{emp_grade1}
					</when>
					<when test="semp_grade == '形如'.toString()">
						and emp_grade like ${%emp_grade%}
					</when>
					<when test="semp_grade == '有值'.toString()">
					 	and emp_grade is not null
					</when>
					<when test="semp_grade == '无值'.toString()">
						and emp_grade is null
					</when>
					<!-- <otherwise>
						emp_grade is null
					</otherwise> -->
				</choose>
			</if>
			<if test='emp_idnumber != "null"'>
				<choose>
					<when test="semp_idnumber == '='.toString()">
						and emp_idnumber = #{emp_idnumber}
					</when>
					<when test="semp_idnumber == '!='.toString()">
						and emp_idnumber != #{emp_idnumber}
					</when>
					<when test="semp_idnumber == '>'.toString()">
						and emp_idnumber &gt; #{emp_idnumber}
					</when>
					<when test="semp_idnumber == '>='.toString()">
						and emp_idnumber &gt;= #{emp_idnumber}
					</when>
					<when test="semp_idnumber == '&lt;'.toString()">
						and emp_idnumber &lt; #{emp_idnumber}
					</when>
					<when test="semp_idnumber == '&lt;='.toString()">
						and emp_idnumber &lt;= #{emp_idnumber}
					</when>
					<when test="semp_idnumber == '介于'.toString()">
						and emp_idnumber between #{emp_idnumber} and #{emp_idnumber1}
					</when>
					<when test="semp_idnumber == '形如'.toString()">
						and emp_idnumber like ${%emp_idnumber%}
					</when>
					<when test="semp_idnumber == '有值'.toString()">
					 	and emp_idnumber is not null
					</when>
					<when test="semp_idnumber == '无值'.toString()">
						and emp_idnumber is null
					</when>
					<!-- <otherwise>
						emp_idnumber is null
					</otherwise> -->
				</choose>
			</if>
			<if test='agreementno != "null"'>
				<choose>
					<when test="sagreementno == '='.toString()">
						and agreementno = #{agreementno}
					</when>
					<when test="sagreementno == '!='.toString()">
						and agreementno != #{agreementno}
					</when>
					<when test="sagreementno == '>'.toString()">
						and agreementno &gt; #{agreementno}
					</when>
					<when test="sagreementno == '>='.toString()">
						and agreementno &gt;= #{agreementno}
					</when>
					<when test="sagreementno == '&lt;'.toString()">
						and agreementno &lt; #{agreementno}
					</when>
					<when test="sagreementno == '&lt;='.toString()">
						and agreementno &lt;= #{agreementno}
					</when>
					<when test="sagreementno == '介于'.toString()">
						and agreementno between #{agreementno} and #{agreementno1}
					</when>
					<when test="sagreementno == '形如'.toString()">
						and agreementno like ${%agreementno%}
					</when>
					<when test="sagreementno == '有值'.toString()">
					 	and agreementno is not null
					</when>
					<when test="sagreementno == '无值'.toString()">
						and agreementno is null
					</when>
					<!-- <otherwise>
						agreementno is null
					</otherwise> -->
				</choose>
			</if>
			<if test='aname != "null"'>
				<choose>
					<when test="saname == '='.toString()">
						and aname = #{aname}
					</when>
					<when test="saname == '!='.toString()">
						and aname != #{aname}
					</when>
					<when test="saname == '>'.toString()">
						and aname &gt; #{aname}
					</when>
					<when test="saname == '>='.toString()">
						and aname &gt;= #{aname}
					</when>
					<when test="saname == '&lt;'.toString()">
						and aname &lt; #{aname}
					</when>
					<when test="saname == '&lt;='.toString()">
						and aname &lt;= #{aname}
					</when>
					<when test="saname == '介于'.toString()">
						and aname between #{aname} and #{aname1}
					</when>
					<when test="saname == '形如'.toString()">
						and aname like ${%aname%}
					</when>
					<when test="saname == '有值'.toString()">
					 	and aname is not null
					</when>
					<when test="saname == '无值'.toString()">
						and aname is null
					</when>
					<!-- <otherwise>
						aname is null
					</otherwise> -->
				</choose>
			</if>
			<if test='atype != "null"'>
				<choose>
					<when test="satype == '='.toString()">
						and atype = #{atype}
					</when>
					<when test="satype == '!='.toString()">
						and atype != #{atype}
					</when>
					<when test="satype == '>'.toString()">
						and atype &gt; #{atype}
					</when>
					<when test="satype == '>='.toString()">
						and atype &gt;= #{atype}
					</when>
					<when test="satype == '&lt;'.toString()">
						and atype &lt; #{atype}
					</when>
					<when test="satype == '&lt;='.toString()">
						and atype &lt;= #{atype}
					</when>
					<when test="satype == '介于'.toString()">
						and atype between #{atype} and #{atype1}
					</when>
					<when test="satype == '形如'.toString()">
						and atype like ${%atype%}
					</when>
					<when test="satype == '有值'.toString()">
					 	and atype is not null
					</when>
					<when test="satype == '无值'.toString()">
						and atype is null
					</when>
					<!-- <otherwise>
						atype is null
					</otherwise> -->
				</choose>
			</if>
			<if test='regular != "null"'>
				<choose>
					<when test="sregular == '='.toString()">
						and regular = #{regular}
					</when>
					<when test="sregular == '!='.toString()">
						and regular != #{regular}
					</when>
					<when test="sregular == '>'.toString()">
						and regular &gt; #{regular}
					</when>
					<when test="sregular == '>='.toString()">
						and regular &gt;= #{regular}
					</when>
					<when test="sregular == '&lt;'.toString()">
						and regular &lt; #{regular}
					</when>
					<when test="sregular == '&lt;='.toString()">
						and regular &lt;= #{regular}
					</when>
					<when test="sregular == '介于'.toString()">
						and regular between #{regular} and #{regular1}
					</when>
					<when test="sregular == '形如'.toString()">
						and regular like ${%regular%}
					</when>
					<when test="sregular == '有值'.toString()">
					 	and regular is not null
					</when>
					<when test="sregular == '无值'.toString()">
						and regular is null
					</when>
					<!-- <otherwise>
						regular is null
					</otherwise> -->
				</choose>
			</if>
			<if test='signdata != "null"'>
				<choose>
					<when test="ssigndata == '='.toString()">
						and signdata = #{signdata}
					</when>
					<when test="ssigndata == '!='.toString()">
						and signdata != #{signdata}
					</when>
					<when test="ssigndata == '>'.toString()">
						and signdata &gt; #{signdata}
					</when>
					<when test="ssigndata == '>='.toString()">
						and signdata &gt;= #{signdata}
					</when>
					<when test="ssigndata == '&lt;'.toString()">
						and signdata &lt; #{signdata}
					</when>
					<when test="ssigndata == '&lt;='.toString()">
						and signdata &lt;= #{signdata}
					</when>
					<when test="ssigndata == '介于'.toString()">
						and signdata between #{signdata} and #{signdata1}
					</when>
					<when test="ssigndata == '形如'.toString()">
						and signdata like ${%signdata%}
					</when>
					<when test="ssigndata == '有值'.toString()">
					 	and signdata is not null
					</when>
					<when test="ssigndata == '无值'.toString()">
						and signdata is null
					</when>
					<!-- <otherwise>
						signdata is null
					</otherwise> -->
				</choose>
			</if>
			<if test='probation_period != 0'>
				<choose>
					<when test="sprobation_period == '='.toString()">
						and probation_period = #{probation_period}
					</when>
					<when test="sprobation_period == '!='.toString()">
						and probation_period != #{probation_period}
					</when>
					<when test="sprobation_period == '>'.toString()">
						and probation_period &gt; #{probation_period}
					</when>
					<when test="sprobation_period == '>='.toString()">
						and probation_period &gt;= #{probation_period}
					</when>
					<when test="sprobation_period == '&lt;'.toString()">
						and probation_period &lt; #{probation_period}
					</when>
					<when test="sprobation_period == '&lt;='.toString()">
						and probation_period &lt;= #{probation_period}
					</when>
					<when test="sprobation_period == '介于'.toString()">
						and probation_period between #{probation_period} and #{probation_period1}
					</when>
					<when test="sprobation_period == '形如'.toString()">
						and probation_period like ${%probation_period%}
					</when>
					<when test="sprobation_period == '有值'.toString()">
					 	and probation_period is not null
					</when>
					<when test="sprobation_period == '无值'.toString()">
						and probation_period is null
					</when>
					<!-- <otherwise>
						probation_period is null
					</otherwise> -->
				</choose>
			</if>
			<if test='probation_begindata != "null"'>
				<choose>
					<when test="sprobation_begindata == '='.toString()">
						and probation_begindata = #{probation_begindata}
					</when>
					<when test="sprobation_begindata == '!='.toString()">
						and probation_begindata != #{probation_begindata}
					</when>
					<when test="sprobation_begindata == '>'.toString()">
						and probation_begindata &gt; #{probation_begindata}
					</when>
					<when test="sprobation_begindata == '>='.toString()">
						and probation_begindata &gt;= #{probation_begindata}
					</when>
					<when test="sprobation_begindata == '&lt;'.toString()">
						and probation_begindata &lt; #{probation_begindata}
					</when>
					<when test="sprobation_begindata == '&lt;='.toString()">
						and probation_begindata &lt;= #{probation_begindata}
					</when>
					<when test="sprobation_begindata == '介于'.toString()">
						and probation_begindata between #{probation_begindata} and #{probation_begindata1}
					</when>
					<when test="sprobation_begindata == '形如'.toString()">
						and probation_begindata like ${%probation_begindata%}
					</when>
					<when test="sprobation_begindata == '有值'.toString()">
					 	and probation_begindata is not null
					</when>
					<when test="sprobation_begindata == '无值'.toString()">
						and probation_begindata is null
					</when>
					<!-- <otherwise>
						probation_begindata is null
					</otherwise> -->
				</choose>
			</if>
			<if test='probation_sal != 0'>
				<choose>
					<when test="sprobation_sal == '='.toString()">
						and probation_sal = #{probation_sal}
					</when>
					<when test="sprobation_sal == '!='.toString()">
						and probation_sal != #{probation_sal}
					</when>
					<when test="sprobation_sal == '>'.toString()">
						and probation_sal &gt; #{probation_sal}
					</when>
					<when test="sprobation_sal == '>='.toString()">
						and probation_sal &gt;= #{probation_sal}
					</when>
					<when test="sprobation_sal == '&lt;'.toString()">
						and probation_sal &lt; #{probation_sal}
					</when>
					<when test="sprobation_sal == '&lt;='.toString()">
						and probation_sal &lt;= #{probation_sal}
					</when>
					<when test="sprobation_sal == '介于'.toString()">
						and probation_sal between #{probation_sal} and #{probation_sal1}
					</when>
					<when test="sprobation_sal == '形如'.toString()">
						and probation_sal like ${%probation_sal%}
					</when>
					<when test="sprobation_sal == '有值'.toString()">
					 	and probation_sal is not null
					</when>
					<when test="sprobation_sal == '无值'.toString()">
						and probation_sal is null
					</when>
					<!-- <otherwise>
						probation_sal is null
					</otherwise> -->
				</choose>
			</if>
			<if test='probation_overdata != "null"'>
				<choose>
					<when test="sprobation_overdata == '='.toString()">
						and probation_overdata = #{probation_overdata}
					</when>
					<when test="sprobation_overdata == '!='.toString()">
						and probation_overdata != #{probation_overdata}
					</when>
					<when test="sprobation_overdata == '>'.toString()">
						and probation_overdata &gt; #{probation_overdata}
					</when>
					<when test="sprobation_overdata == '>='.toString()">
						and probation_overdata &gt;= #{probation_overdata}
					</when>
					<when test="sprobation_overdata == '&lt;'.toString()">
						and probation_overdata &lt; #{probation_overdata}
					</when>
					<when test="sprobation_overdata == '&lt;='.toString()">
						and probation_overdata &lt;= #{probation_overdata}
					</when>
					<when test="sprobation_overdata == '介于'.toString()">
					 	and probation_overdata between #{probation_overdata} and #{probation_overdata1}
					</when>
					<when test="sprobation_overdata == '形如'.toString()">
						and probation_overdata like ${%probation_overdata%}
					</when>
					<when test="sprobation_overdata == '有值'.toString()">
					 	and probation_overdata is not null
					</when>
					<when test="sprobation_overdata == '无值'.toString()">
						and probation_overdata is null
					</when>
					<!-- <otherwise>
						probation_overdata is null
					</otherwise> -->
				</choose>
			</if>
			<if test='agreementperiod != "null"'>
				<choose>
					<when test="sagreementperiod == '='.toString()">
						and agreementperiod = #{agreementperiod}
					</when>
					<when test="sagreementperiod == '!='.toString()">
						and agreementperiod != #{agreementperiod}
					</when>
					<when test="sagreementperiod == '>'.toString()">
						and agreementperiod &gt; #{agreementperiod}
					</when>
					<when test="sagreementperiod == '>='.toString()">
						and agreementperiod &gt;= #{agreementperiod}
					</when>
					<when test="sagreementperiod == '&lt;'.toString()">
						and agreementperiod &lt; #{agreementperiod}
					</when>
					<when test="sagreementperiod == '&lt;='.toString()">
						and agreementperiod &lt;= #{agreementperiod}
					</when>
					<when test="sagreementperiod == '介于'.toString()">
						and agreementperiod between #{agreementperiod} and #{agreementperiod1}
					</when>
					<when test="sagreementperiod == '形如'.toString()">
						and agreementperiod like ${%agreementperiod%}
					</when>
					<when test="sagreementperiod == '有值'.toString()">
					 	and agreementperiod is not null
					</when>
					<when test="sagreementperiod == '无值'.toString()">
						and agreementperiod is null
					</when>
					<!-- <otherwise>
						agreementperiod is null
					</otherwise> -->
				</choose>
			</if>
			<if test='starttime != "null"'>
				<choose>
					<when test="sstarttime == '='.toString()">
						and starttime = #{starttime}
					</when>
					<when test="sstarttime == '!='.toString()">
						and starttime != #{starttime}
					</when>
					<when test="sstarttime == '>'.toString()">
						and starttime &gt; #{starttime}
					</when>
					<when test="sstarttime == '>='.toString()">
						and starttime &gt;= #{starttime}
					</when>
					<when test="sstarttime == '&lt;'.toString()">
						and starttime &lt; #{starttime}
					</when>
					<when test="sstarttime == '&lt;='.toString()">
						and starttime &lt;= #{starttime}
					</when>
					<when test="sstarttime == '介于'.toString()">
						and starttime between #{starttime} and #{starttime1}
					</when>
					<when test="sstarttime == '形如'.toString()">
						and starttime like ${%starttime%}
					</when>
					<when test="sstarttime == '有值'.toString()">
					 	and starttime is not null
					</when>
					<when test="sstarttime == '无值'.toString()">
						and starttime is null
					</when>
					<!-- <otherwise>
						starttime is null
					</otherwise> -->
				</choose>
			</if>
			<if test='regularsal != 0'>
				
				<choose>
					<when test="sregularsal == '='.toString()">
						and regularsal = #{regularsal}
					</when>
					<when test="sregularsal == '!='.toString()">
						and regularsal != #{regularsal}
					</when>
					<when test="sregularsal == '>'.toString()">
						and regularsal &gt; #{regularsal}
					</when>
					<when test="sregularsal == '>='.toString()">
						and regularsal &gt;= #{regularsal}
					</when>
					<when test="sregularsal == '&lt;'.toString()">
						and regularsal &lt; #{regularsal}
					</when>
					<when test="sregularsal == '&lt;='.toString()">
						and regularsal &lt;= #{regularsal}
					</when>
					<when test="sregularsal == '介于'.toString()">
						and regularsal between #{regularsal} and #{regularsal1}
					</when>
					<when test="sregularsal == '形如'.toString()">
						and regularsal like ${%regularsal%}
					</when>
					<when test="sregularsal == '有值'.toString()">
					 	and regularsal is not null
					</when>
					<when test="sregularsal == '无值'.toString()">
						and regularsal is null
					</when>
					<!-- <otherwise>
						regularsal is null
					</otherwise> -->
				</choose>
			</if>
			<if test='endtime != "null"'>
				<choose>
					<when test="sendtime == '='.toString()">
						and endtime = #{endtime}
					</when>
					<when test="sendtime == '!='.toString()">
						and endtime != #{endtime}
					</when>
					<when test="sendtime == '>'.toString()">
						and endtime &gt; #{endtime}
					</when>
					<when test="sendtime == '>='.toString()">
						and endtime &gt;= #{endtime}
					</when>
					<when test="sendtime == '&lt;'.toString()">
						and endtime &lt; #{endtime}
					</when>
					<when test="sendtime == '&lt;='.toString()">
						and endtime &lt;= #{endtime}
					</when>
					<when test="sendtime == '介于'.toString()">
						and endtime between #{endtime} and #{endtime1}
					</when>
					<when test="sendtime == '形如'.toString()">
						and endtime like ${%endtime%}
					</when>
					<when test="sendtime == '有值'.toString()">
					 	and endtime is not null
					</when>
					<when test="sendtime == '无值'.toString()">
						and endtime is null
					</when>
					<!-- <otherwise>
						endtime is null
					</otherwise> -->
				</choose>
			</if>
			<if test='documents != "null"'>
				<choose>
					<when test="sdocuments == '='.toString()">
						and documents = #{documents}
					</when>
					<when test="sdocuments == '!='.toString()">
						and documents != #{documents}
					</when>
					<when test="sdocuments == '>'.toString()">
						and documents &gt; #{documents}
					</when>
					<when test="sdocuments == '>='.toString()">
						and documents &gt;= #{documents}
					</when>
					<when test="sdocuments == '&lt;'.toString()">
						and documents &lt; #{documents}
					</when>
					<when test="sdocuments == '&lt;='.toString()">
						and documents &lt;= #{documents}
					</when>
					<when test="sdocuments == '介于'.toString()">
						and documents between #{documents} and #{documents1}
					</when>
					<when test="sdocuments == '形如'.toString()">
						and documents like ${%documents%}
					</when>
					<when test="sdocuments == '有值'.toString()">
					 	and documents is not null
					</when>
					<when test="sdocuments == '无值'.toString()">
						and documents is null
					</when>
					<!-- <otherwise>
						documents is null
					</otherwise> -->
				</choose>
			</if>
			<if test='notes != "null"'>
				<choose>
					<when test="snotes == '='.toString()">
						and notes = #{notes}
					</when>
					<when test="snotes == '!='.toString()">
						and notes != #{notes}
					</when>
					<when test="snotes == '>'.toString()">
						and notes &gt; #{notes}
					</when>
					<when test="snotes == '>='.toString()">
						and notes &gt;= #{notes}
					</when>
					<when test="snotes == '&lt;'.toString()">
						and notes &lt; #{notes}
					</when>
					<when test="snotes == '&lt;='.toString()">
						and notes &lt;= #{notes}
					</when>
					<when test="snotes == '介于'.toString()">
						and notes between #{notes} and #{notes1}
					</when>
					<when test="snotes == '形如'.toString()">
						and notes like ${%notes%}
					</when>
					<when test="snotes == '有值'.toString()">
					 	and notes is not null
					</when>
					<when test="snotes == '无值'.toString()">
						and notes is null
					</when>
					<!-- <otherwise>
						notes is null
					</otherwise> -->
				</choose>
			</if>
		</where>
		<if test="columnname != null">
		order by #{columnname} #{sort}
		</if>
		<!-- limit #{startIndex},#{pageCount} -->
	</select>
	
	<update id="updateAgreement" parameterType="agreements" >
		update agreements set emp_name=#{emp_name}, emp_id=#{emp_id}, emp_department=#{emp_department}, emp_job=#{emp_job}, 
		emp_academic_title=#{emp_academic_title}, emp_work_category=#{emp_work_category}, emp_grade=#{emp_grade}, emp_idnumber=#{emp_idnumber}, 
		agreementno=#{agreementno}, aname=#{aname}, atype=#{atype}, regular=#{regular}, signdata=#{signdata}, probation_period=#{probation_period}, 
		probation_begindata=#{probation_begindata}, probation_sal=#{probation_sal}, probation_overdata=#{probation_overdata}, 
		agreementperiod=#{agreementperiod}, starttime=#{starttime}, regularsal=#{regularsal}, endtime=#{endtime}, documents=#{documents}, 
		notes=#{notes} where agreementno=#{agreementno}
	</update>
	
	<update id="updateAgreementLock" parameterType="java.lang.String">
		update agreements set status="已锁定" where agreementno=#{agreementno}
	</update>
	
	<update id="updateAgreementUnLock" parameterType="java.lang.String">
		update agreements set status="未锁定" where agreementno=#{agreementno}
	</update>
	
	<delete id="deleteAgreement" parameterType="java.lang.String">
		delete from agreements where agreementno=#{agreementno}
	</delete>
	
	<insert id="insertAgreement" parameterType="agreements" >
		insert into agreements(emp_name,emp_id,emp_department, emp_job, emp_academic_title, emp_work_category, emp_grade, emp_idnumber, agreementno, 
		aname, atype, regular, signdata, probation_period, probation_begindata, probation_sal, probation_overdata, agreementperiod, starttime, 
		regularsal,endtime,documents,notes) values(#{emp_name},#{emp_id},#{emp_department},#{emp_job},#{emp_academic_title},#{emp_work_category},
		#{emp_grade},#{emp_idnumber},#{agreementno},#{aname},#{atype},#{regular},#{signdata},#{probation_period},#{probation_begindata},
		#{probation_sal},#{probation_overdata},#{agreementperiod},#{starttime},#{regularsal},#{endtime},#{documents},#{notes})
	</insert>
</mapper>