<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pm.mapper.AgreementsMapper">
	<select id="getAgreement" parameterType="java.lang.String" resultType="agreements" >
		select * from agreements where agreementno=#{agreementno}
	</select>
	
	<select id="getAgreements" parameterType="agreementsSelectRequirement" resultType="agreements" >
		select * from agreements 
		<where>
			<if test="emp_name != null">
				<choose>
					<when test="semp_name == '='">
						emp_name = #{emp_name}
					</when>
					<when test="semp_name == '!='">
						emp_name != #{emp_name}
					</when>
					<when test="semp_name == '>'">
						emp_name &gt; #{emp_name}
					</when>
					<when test="semp_name == '>='">
						emp_name &gt;= #{emp_name}
					</when>
					<when test="semp_name == '小于'">
						emp_name &lt; #{emp_name}
					</when>
					<when test="semp_name == '小于等于'">
						emp_name &lt;= #{emp_name}
					</when>
					<when test="semp_name == '介于'">
						emp_name between #{emp_name} and #{emp_name1}
					</when>
					<when test="semp_name == '形如'">
						emp_name like ${%emp_name%}
					</when>
					<when test="semp_name == '非空'">
					 	emp_name is not null
					</when>
					<when test="semp_name == '为空'">
						emp_name is null
					</when>
					<otherwise>
						emp_name is null
					</otherwise>
				</choose>
			</if>
			<if test="emp_id != null">
				and
				<choose>
					<when test="semp_id == '='">
						emp_id = #{emp_id}
					</when>
					<when test="semp_id == '!='">
						emp_id != #{emp_id}
					</when>
					<when test="semp_id == '>'">
						emp_id &gt; #{emp_id}
					</when>
					<when test="semp_id == '>='">
						emp_id &gt;= #{emp_id}
					</when>
					<when test="semp_id == '小于'">
						emp_id &lt; #{emp_id}
					</when>
					<when test="semp_id == '小于等于'">
						emp_id &lt;= #{emp_id}
					</when>
					<when test="semp_id == '介于'">
						emp_id between #{emp_id} and #{emp_id1}
					</when>
					<when test="semp_id == '形如'">
						emp_id like ${%emp_id%}
					</when>
					<when test="semp_id == '非空'">
					 	emp_id is not null
					</when>
					<when test="semp_id == '为空'">
						emp_id is null
					</when>
					<otherwise>
						emp_id is null
					</otherwise>
				</choose>
			</if>
			<if test="emp_department != null">
				and
				<choose>
					<when test="semp_department == '='">
						emp_department = #{emp_department}
					</when>
					<when test="semp_department == '!='">
						emp_department != #{emp_department}
					</when>
					<when test="semp_department == '>'">
						emp_department &gt; #{emp_department}
					</when>
					<when test="semp_department == '>='">
						emp_department &gt;= #{emp_department}
					</when>
					<when test="semp_department == '小于'">
						emp_department &lt; #{emp_department}
					</when>
					<when test="semp_department == '小于等于'">
						emp_department &lt;= #{emp_department}
					</when>
					<when test="semp_department == '介于'">
						emp_department between #{emp_department} and #{emp_department1}
					</when>
					<when test="semp_department == '形如'">
						emp_department like ${%emp_department%}
					</when>
					<when test="semp_department == '非空'">
					 	emp_department is not null
					</when>
					<when test="semp_department == '为空'">
						emp_department is null
					</when>
					<otherwise>
						emp_department is null
					</otherwise>
				</choose>
			</if>
			<if test="emp_job != null">
				and
				<choose>
					<when test="semp_job == '='">
						emp_job = #{emp_job}
					</when>
					<when test="semp_job == '!='">
						emp_job != #{emp_job}
					</when>
					<when test="semp_job == '>'">
						emp_job &gt; #{emp_job}
					</when>
					<when test="semp_job == '>='">
						emp_job &gt;= #{emp_job}
					</when>
					<when test="semp_job == '小于'">
						emp_job &lt; #{emp_job}
					</when>
					<when test="semp_job == '小于等于'">
						emp_job &lt;= #{emp_job}
					</when>
					<when test="semp_job == '介于'">
						emp_job between #{emp_job} and #{emp_job1}
					</when>
					<when test="semp_job == '形如'">
						emp_job like ${%emp_job%}
					</when>
					<when test="semp_job == '非空'">
					 	emp_job is not null
					</when>
					<when test="semp_job == '为空'">
						emp_job is null
					</when>
					<otherwise>
						emp_job is null
					</otherwise>
				</choose>
			</if>
			<if test="emp_academic_title != null">
				and
				<choose>
					<when test="semp_academic_title == '='">
						emp_academic_title = #{emp_academic_title}
					</when>
					<when test="semp_academic_title == '!='">
						emp_academic_title != #{emp_academic_title}
					</when>
					<when test="semp_academic_title == '>'">
						emp_academic_title &gt; #{emp_academic_title}
					</when>
					<when test="semp_academic_title == '>='">
						emp_academic_title &gt;= #{emp_academic_title}
					</when>
					<when test="semp_academic_title == '小于'">
						emp_academic_title &lt; #{emp_academic_title}
					</when>
					<when test="semp_academic_title == '小于等于'">
						emp_academic_title &lt;= #{emp_academic_title}
					</when>
					<when test="semp_academic_title == '介于'">
						emp_academic_title between #{emp_academic_title} and #{emp_academic_title1}
					</when>
					<when test="semp_academic_title == '形如'">
						emp_academic_title like ${%emp_academic_title%}
					</when>
					<when test="semp_academic_title == '非空'">
					 	emp_academic_title is not null
					</when>
					<when test="semp_academic_title == '为空'">
						emp_academic_title is null
					</when>
					<otherwise>
						emp_academic_title is null
					</otherwise>
				</choose>
			</if>
			<if test="emp_work_category != null">
				and
				<choose>
					<when test="semp_work_category == '='">
						emp_work_category = #{emp_work_category}
					</when>
					<when test="semp_work_category == '!='">
						emp_work_category != #{emp_work_category}
					</when>
					<when test="semp_work_category == '>'">
						emp_work_category &gt; #{emp_work_category}
					</when>
					<when test="semp_work_category == '>='">
						emp_work_category &gt;= #{emp_work_category}
					</when>
					<when test="semp_work_category == '小于'">
						emp_work_category &lt; #{emp_work_category}
					</when>
					<when test="semp_work_category == '小于等于'">
						emp_work_category &lt;= #{emp_work_category}
					</when>
					<when test="semp_work_category == '介于'">
						emp_work_category between #{emp_work_category} and #{emp_work_category1}
					</when>
					<when test="semp_work_category == '形如'">
						emp_work_category like ${%emp_work_category%}
					</when>
					<when test="semp_work_category == '非空'">
					 	emp_work_category is not null
					</when>
					<when test="semp_work_category == '为空'">
						emp_work_category is null
					</when>
					<otherwise>
						emp_work_category is null
					</otherwise>
				</choose>
			</if>
			<if test="emp_grade != null">
				and
				<choose>
					<when test="semp_grade == '='">
						emp_grade = #{emp_grade}
					</when>
					<when test="semp_grade == '!='">
						emp_grade != #{emp_grade}
					</when>
					<when test="semp_grade == '>'">
						emp_grade &gt; #{emp_grade}
					</when>
					<when test="semp_grade == '>='">
						emp_grade &gt;= #{emp_grade}
					</when>
					<when test="semp_grade == '小于'">
						emp_grade &lt; #{emp_grade}
					</when>
					<when test="semp_grade == '小于等于'">
						emp_grade &lt;= #{emp_grade}
					</when>
					<when test="semp_grade == '介于'">
						emp_grade between #{emp_grade} and #{emp_grade1}
					</when>
					<when test="semp_grade == '形如'">
						emp_grade like ${%emp_grade%}
					</when>
					<when test="semp_grade == '非空'">
					 	emp_grade is not null
					</when>
					<when test="semp_grade == '为空'">
						emp_grade is null
					</when>
					<otherwise>
						emp_grade is null
					</otherwise>
				</choose>
			</if>
			<if test="emp_idnumber != null">
				and
				<choose>
					<when test="semp_idnumber == '='">
						emp_idnumber = #{emp_idnumber}
					</when>
					<when test="semp_idnumber == '!='">
						emp_idnumber != #{emp_idnumber}
					</when>
					<when test="semp_idnumber == '>'">
						emp_idnumber &gt; #{emp_idnumber}
					</when>
					<when test="semp_idnumber == '>='">
						emp_idnumber &gt;= #{emp_idnumber}
					</when>
					<when test="semp_idnumber == '小于'">
						emp_idnumber &lt; #{emp_idnumber}
					</when>
					<when test="semp_idnumber == '小于等于'">
						emp_idnumber &lt;= #{emp_idnumber}
					</when>
					<when test="semp_idnumber == '介于'">
						emp_idnumber between #{emp_idnumber} and #{emp_idnumber1}
					</when>
					<when test="semp_idnumber == '形如'">
						emp_idnumber like ${%emp_idnumber%}
					</when>
					<when test="semp_idnumber == '非空'">
					 	emp_idnumber is not null
					</when>
					<when test="semp_idnumber == '为空'">
						emp_idnumber is null
					</when>
					<otherwise>
						emp_idnumber is null
					</otherwise>
				</choose>
			</if>
			<if test="agreementno != null">
				and
				<choose>
					<when test="sagreementno == '='">
						agreementno = #{agreementno}
					</when>
					<when test="sagreementno == '!='">
						agreementno != #{agreementno}
					</when>
					<when test="sagreementno == '>'">
						agreementno &gt; #{agreementno}
					</when>
					<when test="sagreementno == '>='">
						agreementno &gt;= #{agreementno}
					</when>
					<when test="sagreementno == '小于'">
						agreementno &lt; #{agreementno}
					</when>
					<when test="sagreementno == '小于等于'">
						agreementno &lt;= #{agreementno}
					</when>
					<when test="sagreementno == '介于'">
						agreementno between #{agreementno} and #{agreementno1}
					</when>
					<when test="sagreementno == '形如'">
						agreementno like ${%agreementno%}
					</when>
					<when test="sagreementno == '非空'">
					 	agreementno is not null
					</when>
					<when test="sagreementno == '为空'">
						agreementno is null
					</when>
					<otherwise>
						agreementno is null
					</otherwise>
				</choose>
			</if>
			<if test="aname != null">
				and
				<choose>
					<when test="saname == '='">
						aname = #{aname}
					</when>
					<when test="saname == '!='">
						aname != #{aname}
					</when>
					<when test="saname == '>'">
						aname &gt; #{aname}
					</when>
					<when test="saname == '>='">
						aname &gt;= #{aname}
					</when>
					<when test="saname == '小于'">
						aname &lt; #{aname}
					</when>
					<when test="saname == '小于等于'">
						aname &lt;= #{aname}
					</when>
					<when test="saname == '介于'">
						aname between #{aname} and #{aname1}
					</when>
					<when test="saname == '形如'">
						aname like ${%aname%}
					</when>
					<when test="saname == '非空'">
					 	aname is not null
					</when>
					<when test="saname == '为空'">
						aname is null
					</when>
					<otherwise>
						aname is null
					</otherwise>
				</choose>
			</if>
			<if test="atype != null">
				and
				<choose>
					<when test="satype == '='">
						atype = #{atype}
					</when>
					<when test="satype == '!='">
						atype != #{atype}
					</when>
					<when test="satype == '>'">
						atype &gt; #{atype}
					</when>
					<when test="satype == '>='">
						atype &gt;= #{atype}
					</when>
					<when test="satype == '小于'">
						atype &lt; #{atype}
					</when>
					<when test="satype == '小于等于'">
						atype &lt;= #{atype}
					</when>
					<when test="satype == '介于'">
						atype between #{atype} and #{atype1}
					</when>
					<when test="satype == '形如'">
						atype like ${%atype%}
					</when>
					<when test="satype == '非空'">
					 	atype is not null
					</when>
					<when test="satype == '为空'">
						atype is null
					</when>
					<otherwise>
						atype is null
					</otherwise>
				</choose>
			</if>
			<if test="regular != null">
				and
				<choose>
					<when test="sregular == '='">
						regular = #{regular}
					</when>
					<when test="sregular == '!='">
						regular != #{regular}
					</when>
					<when test="sregular == '>'">
						regular &gt; #{regular}
					</when>
					<when test="sregular == '>='">
						regular &gt;= #{regular}
					</when>
					<when test="sregular == '小于'">
						regular &lt; #{regular}
					</when>
					<when test="sregular == '小于等于'">
						regular &lt;= #{regular}
					</when>
					<when test="sregular == '介于'">
						regular between #{regular} and #{regular1}
					</when>
					<when test="sregular == '形如'">
						regular like ${%regular%}
					</when>
					<when test="sregular == '非空'">
					 	regular is not null
					</when>
					<when test="sregular == '为空'">
						regular is null
					</when>
					<otherwise>
						regular is null
					</otherwise>
				</choose>
			</if>
			<if test="signdata != null">
				and
				<choose>
					<when test="ssigndata == '='">
						signdata = #{signdata}
					</when>
					<when test="ssigndata == '!='">
						signdata != #{signdata}
					</when>
					<when test="ssigndata == '>'">
						signdata &gt; #{signdata}
					</when>
					<when test="ssigndata == '>='">
						signdata &gt;= #{signdata}
					</when>
					<when test="ssigndata == '小于'">
						signdata &lt; #{signdata}
					</when>
					<when test="ssigndata == '小于等于'">
						signdata &lt;= #{signdata}
					</when>
					<when test="ssigndata == '介于'">
						signdata between #{signdata} and #{signdata1}
					</when>
					<when test="ssigndata == '形如'">
						signdata like ${%signdata%}
					</when>
					<when test="ssigndata == '非空'">
					 	signdata is not null
					</when>
					<when test="ssigndata == '为空'">
						signdata is null
					</when>
					<otherwise>
						signdata is null
					</otherwise>
				</choose>
			</if>
			<if test="probation_period != null">
				and
				<choose>
					<when test="sprobation_period == '='">
						probation_period = #{probation_period}
					</when>
					<when test="sprobation_period == '!='">
						probation_period != #{probation_period}
					</when>
					<when test="sprobation_period == '>'">
						probation_period &gt; #{probation_period}
					</when>
					<when test="sprobation_period == '>='">
						probation_period &gt;= #{probation_period}
					</when>
					<when test="sprobation_period == '小于'">
						probation_period &lt; #{probation_period}
					</when>
					<when test="sprobation_period == '小于等于'">
						probation_period &lt;= #{probation_period}
					</when>
					<when test="sprobation_period == '介于'">
						probation_period between #{probation_period} and #{probation_period1}
					</when>
					<when test="sprobation_period == '形如'">
						probation_period like ${%probation_period%}
					</when>
					<when test="sprobation_period == '非空'">
					 	probation_period is not null
					</when>
					<when test="sprobation_period == '为空'">
						probation_period is null
					</when>
					<otherwise>
						probation_period is null
					</otherwise>
				</choose>
			</if>
			<if test="probation_begindata != null">
				and
				<choose>
					<when test="sprobation_begindata == '='">
						probation_begindata = #{probation_begindata}
					</when>
					<when test="sprobation_begindata == '!='">
						probation_begindata != #{probation_begindata}
					</when>
					<when test="sprobation_begindata == '>'">
						probation_begindata &gt; #{probation_begindata}
					</when>
					<when test="sprobation_begindata == '>='">
						probation_begindata &gt;= #{probation_begindata}
					</when>
					<when test="sprobation_begindata == '小于'">
						probation_begindata &lt; #{probation_begindata}
					</when>
					<when test="sprobation_begindata == '小于等于'">
						probation_begindata &lt;= #{probation_begindata}
					</when>
					<when test="sprobation_begindata == '介于'">
						probation_begindata between #{probation_begindata} and #{probation_begindata1}
					</when>
					<when test="sprobation_begindata == '形如'">
						probation_begindata like ${%probation_begindata%}
					</when>
					<when test="sprobation_begindata == '非空'">
					 	probation_begindata is not null
					</when>
					<when test="sprobation_begindata == '为空'">
						probation_begindata is null
					</when>
					<otherwise>
						probation_begindata is null
					</otherwise>
				</choose>
			</if>
			<if test="probation_sal != null">
				and
				<choose>
					<when test="sprobation_sal == '='">
						probation_sal = #{probation_sal}
					</when>
					<when test="sprobation_sal == '!='">
						probation_sal != #{probation_sal}
					</when>
					<when test="sprobation_sal == '>'">
						probation_sal &gt; #{probation_sal}
					</when>
					<when test="sprobation_sal == '>='">
						probation_sal &gt;= #{probation_sal}
					</when>
					<when test="sprobation_sal == '小于'">
						probation_sal &lt; #{probation_sal}
					</when>
					<when test="sprobation_sal == '小于等于'">
						probation_sal &lt;= #{probation_sal}
					</when>
					<when test="sprobation_sal == '介于'">
						probation_sal between #{probation_sal} and #{probation_sal1}
					</when>
					<when test="sprobation_sal == '形如'">
						probation_sal like ${%probation_sal%}
					</when>
					<when test="sprobation_sal == '非空'">
					 	probation_sal is not null
					</when>
					<when test="sprobation_sal == '为空'">
						probation_sal is null
					</when>
					<otherwise>
						probation_sal is null
					</otherwise>
				</choose>
			</if>
			<if test="probation_overdata != null">
				and
				<choose>
					<when test="sprobation_overdata == '='">
						probation_overdata = #{probation_overdata}
					</when>
					<when test="sprobation_overdata == '!='">
						probation_overdata != #{probation_overdata}
					</when>
					<when test="sprobation_overdata == '>'">
						probation_overdata &gt; #{probation_overdata}
					</when>
					<when test="sprobation_overdata == '>='">
						probation_overdata &gt;= #{probation_overdata}
					</when>
					<when test="sprobation_overdata == '小于'">
						probation_overdata &lt; #{probation_overdata}
					</when>
					<when test="sprobation_overdata == '小于等于'">
						probation_overdata &lt;= #{probation_overdata}
					</when>
					<when test="sprobation_overdata == '介于'">
						probation_overdata between #{probation_overdata} and #{probation_overdata1}
					</when>
					<when test="sprobation_overdata == '形如'">
						probation_overdata like ${%probation_overdata%}
					</when>
					<when test="sprobation_overdata == '非空'">
					 	probation_overdata is not null
					</when>
					<when test="sprobation_overdata == '为空'">
						probation_overdata is null
					</when>
					<otherwise>
						probation_overdata is null
					</otherwise>
				</choose>
			</if>
			<if test="agreementperiod != null">
				and
				<choose>
					<when test="sagreementperiod == '='">
						agreementperiod = #{agreementperiod}
					</when>
					<when test="sagreementperiod == '!='">
						agreementperiod != #{agreementperiod}
					</when>
					<when test="sagreementperiod == '>'">
						agreementperiod &gt; #{agreementperiod}
					</when>
					<when test="sagreementperiod == '>='">
						agreementperiod &gt;= #{agreementperiod}
					</when>
					<when test="sagreementperiod == '小于'">
						agreementperiod &lt; #{agreementperiod}
					</when>
					<when test="sagreementperiod == '小于等于'">
						agreementperiod &lt;= #{agreementperiod}
					</when>
					<when test="sagreementperiod == '介于'">
						agreementperiod between #{agreementperiod} and #{agreementperiod1}
					</when>
					<when test="sagreementperiod == '形如'">
						agreementperiod like ${%agreementperiod%}
					</when>
					<when test="sagreementperiod == '非空'">
					 	agreementperiod is not null
					</when>
					<when test="sagreementperiod == '为空'">
						agreementperiod is null
					</when>
					<otherwise>
						agreementperiod is null
					</otherwise>
				</choose>
			</if>
			<if test="starttime != null">
				and
				<choose>
					<when test="sstarttime == '='">
						starttime = #{starttime}
					</when>
					<when test="sstarttime == '!='">
						starttime != #{starttime}
					</when>
					<when test="sstarttime == '>'">
						starttime &gt; #{starttime}
					</when>
					<when test="sstarttime == '>='">
						starttime &gt;= #{starttime}
					</when>
					<when test="sstarttime == '小于'">
						starttime &lt; #{starttime}
					</when>
					<when test="sstarttime == '小于等于'">
						starttime &lt;= #{starttime}
					</when>
					<when test="sstarttime == '介于'">
						starttime between #{starttime} and #{starttime1}
					</when>
					<when test="sstarttime == '形如'">
						starttime like ${%starttime%}
					</when>
					<when test="sstarttime == '非空'">
					 	starttime is not null
					</when>
					<when test="sstarttime == '为空'">
						starttime is null
					</when>
					<otherwise>
						starttime is null
					</otherwise>
				</choose>
			</if>
			<if test="regularsal != null">
				and
				<choose>
					<when test="sregularsal == '='">
						regularsal = #{regularsal}
					</when>
					<when test="sregularsal == '!='">
						regularsal != #{regularsal}
					</when>
					<when test="sregularsal == '>'">
						regularsal &gt; #{regularsal}
					</when>
					<when test="sregularsal == '>='">
						regularsal &gt;= #{regularsal}
					</when>
					<when test="sregularsal == '小于'">
						regularsal &lt; #{regularsal}
					</when>
					<when test="sregularsal == '小于等于'">
						regularsal &lt;= #{regularsal}
					</when>
					<when test="sregularsal == '介于'">
						regularsal between #{regularsal} and #{regularsal1}
					</when>
					<when test="sregularsal == '形如'">
						regularsal like ${%regularsal%}
					</when>
					<when test="sregularsal == '非空'">
					 	regularsal is not null
					</when>
					<when test="sregularsal == '为空'">
						regularsal is null
					</when>
					<otherwise>
						regularsal is null
					</otherwise>
				</choose>
			</if>
			<if test="endtime != null">
				and
				<choose>
					<when test="sendtime == '='">
						endtime = #{endtime}
					</when>
					<when test="sendtime == '!='">
						endtime != #{endtime}
					</when>
					<when test="sendtime == '>'">
						endtime &gt; #{endtime}
					</when>
					<when test="sendtime == '>='">
						endtime &gt;= #{endtime}
					</when>
					<when test="sendtime == '小于'">
						endtime &lt; #{endtime}
					</when>
					<when test="sendtime == '小于等于'">
						endtime &lt;= #{endtime}
					</when>
					<when test="sendtime == '介于'">
						endtime between #{endtime} and #{endtime1}
					</when>
					<when test="sendtime == '形如'">
						endtime like ${%endtime%}
					</when>
					<when test="sendtime == '非空'">
					 	endtime is not null
					</when>
					<when test="sendtime == '为空'">
						endtime is null
					</when>
					<otherwise>
						endtime is null
					</otherwise>
				</choose>
			</if>
			<if test="documents != null">
				and
				<choose>
					<when test="sdocuments == '='">
						documents = #{documents}
					</when>
					<when test="sdocuments == '!='">
						documents != #{documents}
					</when>
					<when test="sdocuments == '>'">
						documents &gt; #{documents}
					</when>
					<when test="sdocuments == '>='">
						documents &gt;= #{documents}
					</when>
					<when test="sdocuments == '小于'">
						documents &lt; #{documents}
					</when>
					<when test="sdocuments == '小于等于'">
						documents &lt;= #{documents}
					</when>
					<when test="sdocuments == '介于'">
						documents between #{documents} and #{documents1}
					</when>
					<when test="sdocuments == '形如'">
						documents like ${%documents%}
					</when>
					<when test="sdocuments == '非空'">
					 	documents is not null
					</when>
					<when test="sdocuments == '为空'">
						documents is null
					</when>
					<otherwise>
						documents is null
					</otherwise>
				</choose>
			</if>
			<if test="notes != null">
				and
				<choose>
					<when test="snotes == '='">
						notes = #{notes}
					</when>
					<when test="snotes == '!='">
						notes != #{notes}
					</when>
					<when test="snotes == '>'">
						notes &gt; #{notes}
					</when>
					<when test="snotes == '>='">
						notes &gt;= #{notes}
					</when>
					<when test="snotes == '小于'">
						notes &lt; #{notes}
					</when>
					<when test="snotes == '小于等于'">
						notes &lt;= #{notes}
					</when>
					<when test="snotes == '介于'">
						notes between #{notes} and #{notes1}
					</when>
					<when test="snotes == '形如'">
						notes like ${%notes%}
					</when>
					<when test="snotes == '非空'">
					 	notes is not null
					</when>
					<when test="snotes == '为空'">
						notes is null
					</when>
					<otherwise>
						notes is null
					</otherwise>
				</choose>
			</if>
		</where>
		<if test="columnname != null">
		order by #{columnname} #{sort}
		</if>
		<!-- limit #{startIndex},#{pageCount} -->
	</select>
	
	<update id="updateAgreement" parameterType="agreements" >
		update agreements set emp_name=#{emp_name}, emp_id=#{emp_id}, emp_department=#{emp_department}, emp_job=#{emp_job}, 
		emp_academic_title=#{emp_academic_title}, emp_work_category=#{emp_work_category}, emp_grade=#{emp_grade}, emp_idnumber=#{emp_idnumber}, 
		agreementno=#{agreementno}, aname=#{aname}, atype=#{atype}, regular=#{regular}, signdata=#{signdata}, probation_period=#{probation_period}, 
		probation_begindata=#{probation_begindata}, probation_sal=#{probation_sal}, probation_overdata=#{probation_overdata}, 
		agreementperiod=#{agreementperiod}, starttime=#{starttime}, regularsal=#{regularsal}, endtime=#{endtime}, documents=#{documents}, 
		notes=#{notes}, status=#{status} where agreementno=#{agreementno}
	</update>
	
	<update id="updateAgreementLock" parameterType="java.lang.String">
		update agreements set status="已锁定" where agreementno=#{agreementno}
	</update>
	
	<update id="updateAgreementUnLock" parameterType="java.lang.String">
		update agreements set status="未锁定" where agreementno=#{agreementno}
	</update>
	
	<delete id="deleteAgreement" parameterType="java.lang.String">
		delete from agreements where agreementno=#{agreementno}
	</delete>
	
	<insert id="insertAgreement" parameterType="agreements" >
		insert into agreements(emp_name,emp_id,emp_department, emp_job, emp_academic_title, emp_work_category, emp_grade, emp_idnumber, agreementno, 
		aname, atype, regular, signdata, probation_period, probation_begindata, probation_sal, probation_overdata, agreementperiod, starttime, 
		regularsal,endtime,documents,notes,status) values(#{emp_name},#{emp_id},#{emp_department},#{emp_job},#{emp_academic_title},#{emp_work_category},
		#{emp_grade},#{emp_idnumber},#{agreementno},#{aname},#{atype},#{regular},#{signdata},#{probation_period},#{probation_begindata},
		#{probation_sal},#{probation_overdata},#{agreementperiod},#{starttime},#{regularsal},#{endtime},#{documents},#{notes},#{status})
	</insert>
</mapper>