BODY {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #2a8dc8
}
BODY {
    FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana
}
#form1 TD {
    FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana;


}
#form1 DIV {
    FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana
}
.mainMenu{
    cursor: pointer;
}
#form1 P {
    FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana
}
#form1 .mainMenu {
    FONT-WEIGHT: bold; FONT-SIZE: 14px; CURSOR: hand; COLOR: #000000
}
#form1 A.style2:link {
    PADDING-LEFT: 4px; COLOR: #0055bb; TEXT-DECORATION: none
}
#form1 A.style2:visited {
    PADDING-LEFT: 4px; COLOR: #0055bb; TEXT-DECORATION: none
}
#form1 A.style2:hover {
    PADDING-LEFT: 4px; COLOR: #ff0000; TEXT-DECORATION: none
}
#form1 A.active {
    PADDING-LEFT: 4px; COLOR: #ff0000; TEXT-DECORATION: none
}
#form1 .span {
    COLOR: #ff0000
}